@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Nokia Cellphone FC';
  src: url('/assets/font/nokiafc22.ttf');
}

/* *::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
} */